.item.attached.seminaritem
  - if false && !seminar.thumbnail_url.nil? && !seminar.thumbnail_url.empty?
    .image(style="height:220px;background-color:white;")
      %img.rounded.ui.medium.image(src="/images/image#{rand(5) + 1}.jpg")
  .content.main
    .ui.ribbon.label.bg-logolightgreen.large.seminardate
      %b
        - if !seminar.one_day?
          = I18n.l(seminar.date_from, :format => :monthsday)
          - if seminar.spans_month?
            = I18n.t(:"date.month_names")[seminar.date_from.month][0..2] rescue ""
          #{"-"}
        = I18n.l(seminar.date_to, :format => :monthsday)
        = I18n.t(:"date.month_names")[seminar.date_to.month][0..2] rescue ""

    .name
      %a.logored.blank(href="#{seminar_url seminar}")
        = seminar.name.split("- ",2)[0]
        %small
          %small
            = seminar.name.split("- ",2)[1]
    -#%br
    -#- seminar.categories.each do |category|
    -#  .ui.label.green
    -#    = category_link category
    .description
      .description-text
        %br
        %a.blank.description(href="#{seminar_url seminar}")
          - trunc_desc = truncate(strip_tags(seminar.description_short), :length => 330)
          -# trunc_desc = truncate(seminar.description, :length => 230)
          != trunc_desc
      .description-link
        %br
        %br
        %a.logoblue(href="#{seminar_url(seminar)}")
          =t('more')
  -#.ui.ribbon.label
  -#  Bottom ribbon
  -#.extra
  -#  - seminar.categories.each do |category|
  -#    .ui.label.grey
  -#      = category_link category
  -#  -#%a(href="#{seminar_url(seminar)}")
  -#  -#  mehr ...
