.item
  -#.ui.ribbon.label
  -#  = I18n.l(seminar.date_from, :format => :monthday)
  -#  #{"-"}
  -#  = I18n.l(seminar.date_to, :format => :monthday)
    -# Include month if its next month
  .content
    -#.meta
    -#  Meta
    .ui.ribbon.label.green
      -# TODO refac
      = I18n.l(seminar.date_from, :format => :monthday)
      #{"-"}
      = I18n.l(seminar.date_to, :format => :monthday)
      - if seminar.date_from.day > seminar.date_to.day
        =I18n.t(:"date.month_names")[(time[1]-1)%12 + 1][0..2]
    -#  Middle Top ribbon
    %a.name.blank(href="#{seminar_url seminar}")
      = seminar.name
    %br
    - seminar.categories.each do |category|
      .ui.label
        = category_link category
    %p.description
      %br
      %a.blank(href="#{seminar_url seminar}")
        - trunc_desc = truncate(strip_tags(seminar.description_short), :length => 230)
        -# trunc_desc = truncate(seminar.description, :length => 530)
        = trunc_desc
      %br
      %br
      %a(href="#{seminar_url(seminar)}")
        mehr ...
  -#.ui.ribbon.label
  -#  Bottom ribbon
  -#.extra
  -#  %a(href="#{seminar_url(seminar)}")
  -#    mehr ...
