- content_for :meta_tags do
  %meta(value="2")

#entry.ui.page.doubling.grid(style="position:50%")
  .column.sixteen.wide
    .ui.items
      .item.entry
        .content.align-center
          .name.logoblue
            =I18n.t('seminars.calendar')
          .description
            %a.blank(href="#{url :seminar, :current}")
              %img(src="/images/calendar.jpg" alt="Calendar image")
            %br
            =I18n.t('calendar.look')
            %br
            %br
            =link_to I18n.t('calendar.current'), url(:seminar, :current), :class => "logoblue"
            %br
            %br
            =link_to "2015 #{t('and')} 2016 - #{t('calendar.complete')}", url(:seminar, :list, :year => '2015'), :class => "logoblue"

      .item.entry
        .content.align-center
          .name.logoblue
            =I18n.t('seminars.categories')
          .description
            %a.blank(href="#{url :categories, :list}")
              %img(src="/images/categories.jpg" alt="Categories image")
            %br
            =I18n.t('for_example')
            %br
            %br
            - @categories.sample(3).each do |category|
              =link_to(category.name, category_url(category), :class => "logoblue")
              %br
            %br
            =link_to t('seminars.all_categories'), url(:categories, :list), :class => "logoblue"
      .item.entry
        .content
          .name.align-center.logoblue
            = t('search.search')
          .description
            %center
              %img(src="/images/search.jpg" alt="Search image")
            %center
              =t('search.search_seminars')
            %br
            %form.align-center(action="/seminar/search" method="GET")
              .ui.icon.input.item
                %input{:placeholder => I18n.t('search'), :name =>"search_term"}
                  %i.search.link.icon
              %br
              %br
              %input.ui.blue.submit.button(type="submit" value="#{t('search.search')}")
  .fifteen.wide.column(style="margin-top:-32px;")
    .ui.segment
      - if I18n.locale == :de
        %h1.ui.header.dividing
          %small
            Liebe_r Besucher_in,
        %p
          Willkommen auf unserer neuen Seminar-Info-Homepage.
          Sie ist noch im Wandel und vielleicht hier und da noch nicht so rund geschliffen wie die schönen Kiesel, die du am Strand sammelst.
        %p
          Bitte zögere nicht, uns im Zweifelsfall zu kontaktieren oder uns Feedback zu geben.  Wir haben noch viele Ideen, was wir umsetzen könnten und hoffen für den Ausbau noch entsprechende Mittel aquirieren zu können.  Die Seite wurde ausschließlich mit Freier Software erstellt.
      - else
        %h1.ui.header.dividing
          %small
            Dear visitor
        %p
          Welcome at our new seminar-info page.
          Work is in progress and you might encounter issues here and there.
        %p
          Please note that most content on this page is in German language only.
        Most likely you are most interested in our
        %a(href="/categories/show/international")
          International courses
        = "."
        %p
          Please do not hesitate to contact us or give us feedback. This page has been constructed using Free Software only.

