%ul
  - @seminar.web_notices.each do |notice|
    %li #{notice['title']} #{notice['value']}

%h2 Seminar Details

%h3 Name
=@seminar.name

%h4 Kategorien
%ul
  - @seminar.categories.each do |category|
    %li=category_link(category)

%h3 Datums
=I18n.l(@seminar.date_from, :format => :short)
=I18n.l(@seminar.date_to,   :format => :short)

%h3 Beschreibung
=@seminar.description

%h3 Referenten/Innen
%ul
  - @seminar.referees.each do |referee|
    %li=referee_link referee

#actions
  =link_to "Anmeldung"

- @seminar.categories.each do |category|
  %h4 Andere Seminare aus der Kategorie #{category.name}
  %ul
    - category.seminars.each do |related_seminar|
      %li= seminar_link(related_seminar)

- @seminar.referees.each do |referee|
  %h4 Andere Seminare von #{referee.full_name}
  %ul
    - (referee.seminars - [@seminar]).each do |seminar|
      %li=seminar_link seminar

