.ui.one.column.page.grid
  .column
    %h2.ui.header="Seminar: #{@seminar.name}"

%input(type="hidden" name="seminar-uuid" value="#{@seminar.uuid}")
%input(type="hidden" name="seminar-shorturl" value="#{@seminar.shorturl}")

.ui.two.column.page.grid.stackable
  .column
    %h5.ui.header.attached.top=I18n.t('seminars.categories')
    .ui.segment.attached
      - @seminar.categories.each do |category|
        .ui.label=category_link(category)

    %h5.ui.header.attached.top=I18n.t('dates')
    .ui.segment.attached
      =I18n.l(@seminar.date_from, :format => :short)
      bis
      =I18n.l(@seminar.date_to,   :format => :short)

    %h4.ui.header.attached.top=I18n.t('seminars.description')
    .ui.segment.attached
      != @seminar.description

      -if @seminar.referees && !@seminar.referees.empty?
        %h4.ui.header Referenten/Innen
        %ul.ui.list
          - @seminar.referees.each do |referee|
            %li=referee_link referee
            =Qualification.find(:referee => referee, :seminar => @seminar).qualification_text

    %h3.blue.ui.header.attached.inverted.top.inverted.purple=I18n.t('seminars.registration')
    .ui.segment.attached
      - if @seminar.registration_needed
        - if @seminar.date_from >= Date.today
          = render_partial 'seminar/registration'# :engine => 'haml'
        - else
          Dieses Seminar liegt in der Vergangenheit
      - else
        Diese Veranstaltung ist ein offenes Angebot. Eine Anmeldung ist nicht erforderlich.

  #side_column.column
    %h4.ui.header.dividing.attached.top.inverted.purple=I18n.t('seminars.further_infos')
    .ui.segment.attached
      - web_notice_text = strip_tags(@seminar.web_notice)
      - if web_notice_text && !web_notice_text.strip.gsub("\"",'').empty?
        != @seminar.web_notice
      - @seminar.get_web_notices.each do |notice|
        %h3=notice['label']
        !=notice['text']
      %br
      %h3 Weitere Informationen
      %a(href="http://siebenlinden.de/index.php?id=110")
        Gästebetrieb
      %br
      %a(href="http://siebenlinden.de/index.php?id=62")
        Bildung für Nachhaltigkeit
      %br
      %a(href="http://siebenlinden.de/index.php?id=88")
        Wissenswertes zur Anmeldung
      %br
      %a(href="http://siebenlinden.de/index.php?id=85")
        Übernachten
      %br
      %a(href="http://siebenlinden.de/index.php?id=22")
        Anreise
      %br
      %a(href="http://siebenlinden.de/index.php?id=142")
        Barrierefreiheit
      %br
      %a(href="http://siebenlinden.de/index.php?id=87")
        Bildungsprämie

    %h4.ui.header.dividing.attached.top
      -#=I18n.t('seminars.further_infos')
      Related Seminars
    .ui.segment.attached
      - @seminar.categories.each do |category|
        - if !category.seminars.empty?
          %h4 Andere Seminare aus der Kategorie #{category.name}
          %ul.ui.list
            - category.seminars.each do |related_seminar|
              %li
                -# How about partial, :object => 
                =partial('seminar/seminar_link', :locals => {:seminar => related_seminar})
      
      - @seminar.referees.each do |referee|
        - if referee.seminars.size > 2
          %h4 Andere Seminare von #{referee.full_name}
          %ul.ui.list
            - (referee.seminars - [@seminar]).each do |seminar|
              %li
                =partial('seminar/seminar_link', :locals => {:seminar => seminar})
