- content_for :canonical_url do
  - if @seminar.shorturl
    %link(rel="canonical" href="#{absolute_url(:seminar, :show, @seminar.shorturl)}")

.ui.one.column.page.grid
  .column
    %h2.ui.header.logored="Seminar: #{@seminar.name}"

%input(type="hidden" name="seminar-uuid" value="#{@seminar.uuid}")
%input(type="hidden" name="seminar-shorturl" value="#{@seminar.shorturl}")

.ui.two.column.page.grid.stackable
  .column
    .ui.segment
      %b.logored
        =I18n.l(@seminar.date_from, :format => :short)
        bis
        =I18n.l(@seminar.date_to,   :format => :short)
      %br
      - if @seminar.categories.length > 0
        %span(class="logoblue")
          = t('seminars.categories')
          = ":"
          - @seminar.categories.each do |category|
            = link_to category.name, category_url(category), :class => "logoblue"

    %h4.ui.header.dividing.attached.top.inverted.seminarinfobox=I18n.t('seminars.description')
    .ui.segment.attached
      != @seminar.description.gsub('type="mce-mce-text/javascript"','').gsub('type="mce-text/javascript"','').gsub('data-share="true"><br></div>','data-share="true"></div>')

      -if @seminar.referees && !@seminar.referees.empty?
        %h4.ui.header.logoblue=t('seminars.referees')
        %ul.ui.list
          - @seminar.referees.each do |referee|
            %li=referee_link referee
            =Qualification.find(:referee => referee, :seminar => @seminar).qualification_text

    %h3.bg-logoblue.ui.header.attached.inverted.top.inverted.seminarinfobox=I18n.t('seminars.registration')
    .ui.segment.attached
      - if @seminar.date_from >= Date.today - 1
        - if @seminar.registration_needed
          = render_partial 'seminar/registration'# :engine => 'haml'
        - else
          =t('seminars.open')
      - else
        =t('seminars.is_in_past')

    - if @seminar.date_from >= Date.today - 1
      %h3.bg-logoblue.ui.header.attached.inverted.top.inverted.seminarinfobox=I18n.t('seminars.ask_question')
      .ui.segment.attached
        = render_partial 'seminar/ask_question'

  #side_column.column
    - if @seminar.thumbnail_url && !@seminar.thumbnail_url.empty?
      .ui.segment
        %img.rounded.ui.medium.image(src="http://siebenlinden.de/fileadmin/img/seminar/#{@seminar.thumbnail_url}")
    %h4.ui.header.dividing.attached.top.inverted.seminarinfobox=I18n.t('seminars.further_infos')
    .ui.segment.attached
      - web_notice_text = strip_tags(@seminar.web_notice)
      - if web_notice_text && !web_notice_text.strip.gsub("\"",'').empty?
        != @seminar.web_notice
      -# if @seminar.date_from >= Date.today
      - @seminar.get_web_notices.each do |notice|
        %h3.logoblue=notice['label']
        !=notice['text']
      %h4.ui.header.dividing.attached.top.inverted.seminarinfobox=I18n.t('seminars.further_links')
      .ui.segment.attached
        %a(href="http://siebenlinden.de/index.php?id=110" target="_new")
          Gästebetrieb
        %br
        %a(href="http://siebenlinden.de/index.php?id=62" target="_new")
          Bildung für Nachhaltigkeit
        %br
        %a(href="http://siebenlinden.de/index.php?id=88" target="_new")
          Wissenswertes zur Anmeldung
        %br
        %a(href="http://siebenlinden.de/index.php?id=85" target="_new")
          Übernachten
        %br
        %a(href="http://siebenlinden.de/index.php?id=22" target="_new")
          Anreise
        %br
        %a(href="http://siebenlinden.de/index.php?id=142" target="_new")
          Barrierefreiheit
        %br
        %a(href="http://siebenlinden.de/index.php?id=87" target="_new")
          Bildungsprämie

    %h4.ui.header.dividing.attached.top.inverted.seminarinfobox
      =I18n.t('seminars.related')
    .ui.segment.attached
      - @seminar.categories.each do |category|
        - if !category.seminars.empty?
          %h4.logoblue
            =t('seminars.other_from_category')
            =category.name
          %ul.ui.list
            - category.future_seminars.sort_by(&:date_from).each do |related_seminar|
              %li
                -# How about partial, :object => 
                =partial('seminar/seminar_link', :locals => {:seminar => related_seminar})
            %hr
            - category.past_seminars.sort_by(&:date_from).reverse.each do |related_seminar|
              %li
                -# How about partial, :object => 
                =partial('seminar/seminar_link', :locals => {:seminar => related_seminar})

      
      - @seminar.referees.each do |referee|
        - if referee.seminars.size > 2
          %h4.logoblue
            =t('seminars.other_from_referee')
            =referee.full_name
          %ul.ui.list
            - (referee.seminars - [@seminar]).sort_by(&:date_from).reverse.each do |seminar|
              %li
                =partial('seminar/seminar_link', :locals => {:seminar => seminar})
