Danke für die Anmeldung für das Seminar "#{seminar.name}" vom #{I18n.l(seminar.date_from, :format => :short)} bis zum #{I18n.l(seminar.date_to, :format => :short)} im Ökodorf Sieben Linden!
\
Dies ist eine automatisch generierte E-Mail.
\
Eine persönliche Anmeldebestätigung mit Informationen zu Anreise, Unterkunft, Bezahlung usw. folgt per E-Mail in den nächsten Tagen. Sollte innerhalb einer Woche keine Rückmeldung aus dem Bildungsreferat kommen, bitte folgende E-Mailadresse oder Telefonnummer kontaktieren:
\
E-Mail: bildungsreferat@siebenlinden.de
\
Tel. 039000-51236
\
\
Wir haben folgende Daten erhalten:
\
\
Anschrift:
\
#{registration.full_name}
#{registration.street_and_no}
#{registration.zip} #{registration.city}
#{registration.country}
\
e-Mail: #{registration.email}
Telefon: #{registration.phone}
Handy: #{registration.mobile}
\
\
Kommentar:
\
#{registration.comment}
\
\
Die Anmeldung wurde für folgende Personen vorgenommen:
\
#{registration.participants_string}
\
#{registration.full_name}
\
\
Mit folgenden Wünschen bezüglich der Unterkunft:
\
#{registration.accomodation_json}
\
\
Folgende Rücktrittsbedingungen wurden akzeptiert:
\
#{seminar.cancellation_conditions}
\
\
Bei Fragen kontaktiere uns unter ....
