%h2
  = I18n.t('seminars.seminars_of_category')
  = @category.name

- if @category.description && !@category.description.empty?
  .ui.segment
    .ui.grid
      .ui.row
        .column
        .column.nine.wide.column
          %p!=@category.description
          %br
        .column.five.wide.column
          %img.rounded.ui.medium.image(src="http://siebenlinden.de/fileadmin/img/topic/#{@category.image_url}")
        .column
  %br

.ui.grid
  .ui.row
    .column
    .ui.segment.fourteen.wide.column
      - @category.seminars.sort_by(&:date_from).group_by{|seminar| seminar_year_month(seminar)}.each do |time, seminars|
        %h5.ui.dividing.header
          =I18n.t(:"date.month_names")[time[1]]
          =time[0]
        .ui.divided.list
          - seminars.each do |seminar|
            .item
              .ui.label
                = from_to_format seminar
              .content
                %a.header{:href=>url(:seminar, :show, seminar.id)}=seminar.name
                .description
                  -if !seminar.referees.empty?
                    (#{I18n.t('with')} #{seminar.referees.map(&:full_name).join(' ' + I18n.t('and') + ' ')})
    .column

